// 色
$themeColor: #00A3ED;
$textColor: #333;
$lightTextColor: lighten($textColor, 10%);
// $subColor: #b68e55;

// フォント
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
$sansSerif: "Noto Sans JP", sans-serif;

// 横幅
$mainWidth: unquote("min(85vw, 800px)");

* {
	box-sizing: border-box;
	&:focus:not(.focus-visible) {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	font: 400 16px/1.8 $sansSerif;
	color: $textColor;
	font-feature-settings: "pkna";
	background: white;
	@media (max-width: 340px) {
		font-size: 14px;
	}
	& > div {
		overflow: hidden;
	}
}

header {
	width: 100vw;
	background: white;
	box-shadow: 0 4px 16px rgba(black, .1);
	padding: 20px 40px;
	position: fixed;
	top: 0;
	left: 0;
	h1 {
		margin: auto;
		font-weight: 400;
		font-size: 1.5rem;
	}
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}

@mixin button {
	background: $themeColor;
	color: white;
	text-align: center;
	padding: 12px 18px 14px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

button {
	font: 400 16px/1.8 $sansSerif;
	@include button();
	&.nobg {
		background: transparent;
		color: $lightTextColor;
		padding: 0;
	}
}

label.button {
	@include button();
}

footer {
	width: 100vw;
	box-shadow: 0 4px 16px rgba(black, .1);
	padding: 20px 40px;
	position: fixed;
	left: 0;
	bottom: 0;
	button.material-icons {
		font-size: 3rem;
		vertical-align: bottom;
		// &#skipPrevious {
			// font-size: 2.5rem;
			// vertical-align: baseline;
		// }
	}
}