@import "var";

* {
	box-sizing: border-box;
	&:focus:not(.focus-visible) {
		outline: none;
	}
	&[hidden] {
		display: none !important;
	}
}

body {
	margin: 0;
	padding: 0;
	font: 400 16px/1.8 $sansSerif;
	color: $textColor;
	font-feature-settings: "pkna";
	@media (prefers-color-scheme: light) {background: $lightBg;}
	@media (prefers-color-scheme: dark) {background: $darkBg;}
	& > div {
		overflow: hidden;
	}
}

h1, h2 {
	font-weight: 400;
}

button {
	font: 400 16px/1.8 $sansSerif;
}

#fileDiv {
	display: grid;
	place-items: center;
	grid-template-rows: min-content min-content min-content;
	height: 100vh;
	padding: 40px;
	text-align: center;
	& > * {
		height: max-content;
	}
}
.fileLabel {
	color: white;
	text-align: center;
	padding: 12px 18px 14px;
	background: $themeColor;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	.inputMidi {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		overflow: hidden;
		padding: 0;
		clip: rect(0, 0, 0, 0);
	}
}

main {
	display: grid;
	grid-template-rows: 64px minmax(300px, 1fr) 106px 84px max-content;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 16px 26px 16px 28px;
	@media (min-width: 400px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (prefers-color-scheme: light) {box-shadow: 0 0 8px rgba(black, .1);}
	@media (prefers-color-scheme: dark) {background: lighten($darkBg, 5%);}
	#title {
		margin: 0;
		font-size: 1.2rem;
		line-height: 32px - 2px;
	}
	.fileLabel {
		padding: 5px 10px 7px;
		font-size: 0.9rem;
		line-height: 32px - 5px - 7px + 1px;
		@media (prefers-color-scheme: light) {background: $lightGray; color: $textColor;}
		@media (prefers-color-scheme: dark) {background: $darkGray;}
	}
}

// ピアノロール
#pianorollParent {
	overflow: hidden;
	position: relative;
	margin: 24px 0 8px;
	#pianoroll {
		overflow: hidden;
		height: 100%;
		margin-left: 50%;
	}
	#singBorder {
		position: absolute;
		top: 0;
		left: 50%;
		width: 4px;
		height: 100%;
		border: none;
		border-radius: 2px;
		margin: 0;
		@media (prefers-color-scheme: light) {background: $lightGray;}
		@media (prefers-color-scheme: dark) {background: $darkGray;}
	}
}

.note {
	position: absolute;
	background: $themeColor;
	height: 7px;
	border-radius: 4px;
	&.voice {
		height: 5px;
		margin: 1px 0;
		background: red;
	}
}

.breath {
	position: absolute;
	top: -0.9rem;
	font-family: "BravuraText";
	font-size: 2.5rem;
	line-height: 1;
}


// 歌詞・強弱
#lyrics, #dynamics {
	text-align: center;
}

#lyrics {
	display: grid;
	place-items: center;
	font-size: 1.4rem;
	@media (max-width: 340px) {
		font-size: 1.2rem;
	}
	border-bottom: 2px solid;
	@media (prefers-color-scheme: light) {
		color: darken($lightGray, 15%);
		border-color: darken($lightGray, 15%);
	}
	@media (prefers-color-scheme: dark) {
		color: lighten($darkGray, 15%);
		border-color: lighten($darkGray, 15%);
	}
	padding-bottom: 18px;
	padding: 6px 40px 18px;
	span {
		display: block;
		&.active {
			color: $textColor;
		}
	}
}

#dynamics {
	font-size: 1.8rem;
	font-family: "BravuraText";
	margin-top: -3px;
	padding: 16px 40px;
	// margin-bottom: -2px;
	.arrow {
		margin: 0 0.5em 0 0.3em;
		vertical-align: -0.1rem;
		&.material-icons-round {
			vertical-align: -0.3rem;
			font-family: "Material Icons Round";
		}
	}
}


// コントローラー
#controlers {
	width: 100vw;
	padding: 28px 40px 20px;
	position: relative;
	display: grid;
	grid-template-rows: 16px max-content;
	grid-template-columns: repeat(4, 3rem) 1fr max-content;
	row-gap: 12px;
	@media (prefers-color-scheme: light) {box-shadow: 0 0 8px rgba(black, .1);}
	@media (prefers-color-scheme: dark) {background: lighten($darkBg, 5%);}
	#timeBarDiv {
		place-items: center stretch;
		position: relative;
		height: 1rem;
		grid-row: 1;
		grid-column: 1 / 7;
		#timeBar {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			height: 8px;
			margin: auto 0;
			border-radius: 4px;
			cursor: pointer;
			@media (prefers-color-scheme: light) {background: $lightGray;}
			@media (prefers-color-scheme: dark) {background: $darkGray;}
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 16px;
				height: 16px;
				display: block;
				background-color: $themeColor;
				border-radius: 50%;
			}
		}
		#coloredLine {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto 0;
			width: 8px;
			height: 8px;
			background-color: $themeColor;
			pointer-events: none;
			border-radius: 4px;
		}
	}
	button.material-icons-round {
		font-size: 3rem;
		color: $textColor;
		background: transparent;
		padding: 0;
		border: none;
		cursor: pointer;
		position: relative;
		left: -10px;
		&#replay5, &#forward5 {
			font-size: 2.25rem;
		}
		&#playPause[data-playing=true] {
			font-size: 2.85rem;
			position: relative;
			right: -1px;
			bottom: -1px;
		}
	}
	#timeDiv {
		line-height: 3rem;
		margin-right: 3px;
		grid-column: 6;
		#separator {
			font-size: 0.82em;
			vertical-align: 0.12em;
			margin: 0 0.1em;
		}
	}
}

@media (max-width: 355px) {
	#lyrics, #dynamics, #controlers {
		padding-left: 20px;
		padding-right: 20px;
	}
}