// 色
:root {
	@media (prefers-color-scheme: light) {
		--textColor: #333;
	}
	@media (prefers-color-scheme: dark) {
		--textColor: #ebeff1;
	}
}
$themeColor: #00a3ed;
$subColor: #ed00a2;
$lightBg: white;
$darkBg: #17191a;
$textColor: var(--textColor);
$lightGray: #d8dcdd;
$darkGray: darken($lightGray, 65%);

// フォント
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
$sansSerif: "Noto Sans JP", sans-serif;

@font-face {
	font-family: "BravuraText";
	src: url(BravuraText.woff2);
}